<app-header></app-header>

<!-- component -->
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">

    <h1 class="font-bold text-2xl md:text-3xl lg:text-4xl font-heading text-gray-900">
      Вы можете воспользоваться одним из наших сервисов!
    </h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
      <div>
        <img routerLink="/dots"
         class="object-center object-cover h-[300px] w-full"
         src="/assets/dashboard/cat4.png"
         alt="photo"
         >
      </div>
      <div class="text-center py-8 sm:py-6">
        <a class="text-xl text-gray-700 font-bold mb-2 underline"  routerLink="/dots">Точка с координатой</a>
        <p class="text-base text-gray-400 font-normal">Определение попадания</p>
      </div>

    </div>
    <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
      <div>
        <img class="object-center object-cover h-[300px] w-full"
             src="/assets/dashboard/cat2.png" alt="photo">
      </div>
      <div class="text-center py-8 sm:py-6">
        <p class="text-xl text-gray-700 font-bold mb-2">Котик Пушистик</p>
        <p class="text-base text-gray-400 font-normal">Скоро будет доступно!</p>
      </div>
    </div>
    <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
      <div>
        <img class="object-center object-cover h-[300px]  w-full"
             src="/assets/dashboard/cat3.png" alt="photo">
      </div>
      <div class="text-center py-8 sm:py-6">
        <p class="text-xl text-gray-700 font-bold mb-2">Котик Ушастик</p>
        <p class="text-base text-gray-400 font-normal">Скоро будет доступно!</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
