<div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md">
  <h2 class="text-2xl font-semibold mb-4">Coordinate Form</h2>

  <form (ngSubmit)="onSubmitForm()" [formGroup]="form">
    <!-- X Coordinate Checkbox -->
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-600 mb-1">X values:</label>
      <div class="grid grid-cols-2 gap-2 md:grid-cols-3" id="x-input-wrapper">
        <div *ngFor="let x of xValues">
          <input
            [ngModelOptions]="{standalone: true}"
            type="checkbox"
            id="x-{{ x }}"
            name="x-coordinate"
            value="{{ x }}"
            [(ngModel)]="selectedX"
            (change)="handleCheckboxChange('x', x,'x-'+x)"
            [attr.disabled]="((selectedXNull) && (x!==selectedX))||(selectedX && selectedX!==x)? true : null"
          >
          <label for="x-{{ x }}">{{ x }}</label>
        </div>
      </div>
<!--      [attr.disabled]="((selectedXNull) && (x!==selectedX))||(selectedX && selectedX!==x)? true : null"-->
      <div *ngIf="xControl().touched && xControl().hasError('noXSelected')">
        <p class="text-red-500 text-center pt-3 text-sm font-medium">
         {{getXErrorMessage()}}
        </p>
      </div>
    </div>

    <!-- Y Coordinate Text Input -->
    <div class="mb-4">
      <label
        class="block text-sm font-medium text-gray-600 mb-1 ring-red-">Y (-5:3) Coordinate:</label>
      <input
        type="text"
        id="y-coordinate"
        name="y-coordinate"
        placeholder="0"
        class="border rounded-md p-2 w-full"
        (input)="handleYInputChange($event)"
        [ngClass]="{'border-red-500':  yControl().invalid}"
      >
    </div>

    <div *ngIf=" (yControl().hasError('maxLength') || yControl().hasError('required') || yControl().hasError('notANumber')|| yControl().hasError('invalidValue'))">
      <div class="text-red-500 pb-3 text-center text-sm font-medium">
        {{ getYErrorMessage() }}
      </div>
    </div>

    <!-- Radius Checkbox -->
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-600 mb-1">Radius:</label>
      <div class="grid grid-cols-2 gap-2 md:grid-cols-3" id="r-input-wrapper">
        <div *ngFor="let r of rValues">
          <input
            [ngModelOptions]="{standalone: true}"
            type="checkbox"
            id="r-{{ r }}"
            name="r-coordinate"
            value="{{ r }}"
            [(ngModel)]="selectedR"
            (change)="handleCheckboxChange('r', r,'r-'+r)"
            [disabled]="((selectedRNull) && (r!==selectedR))||(selectedR!=0 && selectedR!==r)"
          >
          <label for="r-{{ r }}">{{ r }}</label>
        </div>
      </div>
      <div *ngIf="rControl().touched && rControl().hasError('noRSelected')">
        <p class="text-red-500 text-center pt-3 text-sm font-medium">
          {{getRErrorMessage()}}
        </p>
      </div>
    </div>
  </form>
  <!-- Submit Button -->
  <!--    (click)="getDots()"-->
  <button
    (click)="onSubmitForm()"
    class="bg-teal-500 text-white px-4 py-2 rounded-md hover:bg-teal-600" type="submit">Submit
  </button>
</div>
