<app-header></app-header>
<div class="mb-4 p-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 place-items-center">
  <div class="w-1/2 grid">
    <app-coordinate-form></app-coordinate-form>
  </div>
  <div class="w-1/2 grid ">
    <app-canvas-element></app-canvas-element>
  </div>
</div>
<div class="flex items-center justify-center p-5">
  <button
    (click)="deleteDots()"
    class="bg-teal-500 text-white px-4 py-2 rounded-md hover:bg-teal-600" type="submit">Delete all points
  </button>
</div>
<div class="flex justify-center">
  <app-dots-table>

  </app-dots-table>
</div>
<app-footer></app-footer>
